<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Відновлення паролю</h1>
            <form action="/users/reset/email" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter Email"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Відправити підтвердження</button>
            </form>
        </div>
    </div>
</div>